body{
    width: 100%;
    margin:auto;
    margin-top:5rem;

}

.btn{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.showbtn{
    width: 50%;
    height: 4vh;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: darkolivegreen;
    border-radius: 15px;
}
